mj-section
    mj-column(width="30%" padding="10px")
        mj-image(padding="0")
    mj-column(width="70%" padding="10px")
        mj-text(padding="0" mj-class="T14-900 cOF" text-transform="uppercase") Dossier
        mj-text(padding="0" mj-class="T28-300 cO") L'alternance&nbsp;: un modèle éducatif qui a le vent en poupe.
        mj-text(padding="0" mj-class="T16-400") L'alternance combine formation académique et expérience professionnelle rémunérée, offrant une approche pédagogique mêlant théorie et pratique. Elle favorise l'insertion professionnelle en permettant aux étudiants d'acquérir des compétences recherchées et un réseau.
        mj-text(padding="0" mj-class="T16-400") Deux contrats existent : apprentissage (pour un diplôme) et professionnalisation (pour l'emploi). Trouver une école et une entreprise est essentielle. L'alternance facilite l'accès à des secteurs porteurs et améliore l'employabilité des jeunes.