mj-section(padding="20px")
    mj-column(padding="10px")
        mj-text(padding="0" mj-class="T14-900 cOF") Dossier 
        mj-text(padding="0" mj-class="T28-300 cO") La rentrée des alternances est lancée&nbsp;!
        mj-text(padding="5px 0" mj-class="T16-400" font-style="italic") C'est réellement parti&nbsp;! Les campagnes d'alternance battent leur plein, et c'est dans cette période riche et dynamique que les candidats viennent à notre rencontre pour bénéficier de nos formations. Pour un BTS Professions Immobilières, les candidats sont prêts à relever de nouveaux défis&nbsp;!
        mj-text(padding="5px 0" mj-class="T16-400" font-style="italic") Grâce à la confiance de nos entreprises partenaires, nos étudiants ont l'opportunité de poursuivre leur parcours académique tout en gagnant en expérience sur le terrain. Ces entreprises nous font l'honneur de les accompagner en offrant des postes en alternance, propices à l'épanouissement professionnel de nos talents.
        mj-text(padding="5px 0" mj-class="T16-400" font-style="italic") Les entreprises peuvent d'ores et déjà découvrir les profils de nos futurs alternants, disponibles sur demande&nbsp;! C'est l'occasion idéale de saisir de belles opportunités et de se lancer dans une aventure professionnelle enrichissante&nbsp;!
        mj-text(padding="5px 0" mj-class="T16-400" font-style="italic") À vos candidatures, prêts, partez !