//- Réseaux sociaux
mj-section
    mj-column(width='480px')
        mj-social(inner-padding='0 20px' icon-size='30px' mode='horizontal')
            mj-social-element(src='./images/linkedinO.png' href='https://fr.linkedin.com/company/ecosup-campus' alt='Linkedin')
            mj-social-element(src='./images/facebookO.png' href='https://www.facebook.com/EcosupCamp' alt='Facebook')    
            mj-social-element(src='./images/instagramO.png' href='https://www.instagram.com/ecosup.campus' alt='Instagram')      