extends templates/_layout
block content
        //- Newsletter + Signature
        mj-section(background-color="#EC6608" padding="0")
            mj-column
                mj-text(align="left" mj-class="T14-900" color="#ffffff") Mars 2025
        mj-section(background-color='#dce6ef' padding="0px")
            mj-column(width="30%" vertical-align="middle" padding="20px")
                mj-image(padding="0" width="180px" src="https://i.ibb.co/C5Q0SSF/logo-Commerce112024.png" alt="logo Ecosup Commerce")
                mj-text(align='center' padding="0" padding-top="10px" mj-class="T16-400 cT") Newsletter des formations en alternance des professions immobilières
            mj-column(width="70%" vertical-align="middle")
                mj-image(padding="0" width="600px" fluid-on-mobile="true" src="./images/imb032025.png" alt="mégalopôle asiatique la nuit")